##Linux

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# My configurations:
_site/
*.swp
*.swo
Gemfile
Gemfile.lock
todo.md
_posts/images/
_posts/bbs/
_posts/abbreviations.txt
_posts/images/upload.log
backup*
*.sh
*.sed
*.log
a
b
c
d
_plugins/
_includes/debugger.html
